.about {
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;


    @media(min-width: 992px) {
        grid-template-columns: 1fr 6fr 100px;
    }

    .section-scroll {
        background-color: $bg-dark;
    }


    .main-content {
        background-color: $white;

        @media(min-width: 992px) {
            transform: translateY(-140px);
        }


        .intro {
            font-size: $f-big;
            line-height: 1.26;
            color: $bg-dark;
            margin-top: 48.5px;


            .strong {
                font-weight: bold;
                color: $green;
            }
        }

        .slogan {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 50px;


            @media(min-width: 992px) {
                flex-direction: row;
                margin-bottom: 80px;
            }


            .slogan-content {
                width: 100%;
                line-height: 1.5;
                font-size: $f-mid;
                margin-bottom: 10px;




                &:nth-child(1) {
                    font-family: 'Roboto', sans-serif;
                    font-size: $f-little;
                    color: $color1;
                    line-height: 1.29;


                    @media(min-width: 992px) {
                        margin-left: 30px;

                    }
                }
            }
        }



        .about-intro {
            margin: 24px 0 50px 20px;
            width: 90%;
            font-family: "Roboto", sans-serif;

            @media (min-width: 992px) {
                width: 47%;
                width: 60%;
                margin-left: 50px;

            }

            .intro-text {
                letter-spacing: 0.13px;
                color: $color1;
                font-size: $f-little;
                line-height: 20px;
            }
        }

        .services {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 50px;

            @media (min-width: 992px) {
                flex-direction: row;
                width: 95%;

            }

            .service-block {
                background-color: $white;
                padding: 36px;
                border: 1px solid $green;
                width: 70%;
                margin: 0 auto;
                margin-bottom: 20px;
                transition: .3s;
                position: relative;

                @media (min-width: 992px) {
                    width: 40%;
                }

                .service-img {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    opacity: 0;
                    transition: .5s;
                }

                &:hover {
                    background-color: $green;

                    .title,
                    .info {
                        color: $white;
                    }

                    .service-img {
                        opacity: .1;
                    }

                }

                .title {
                    color: $green;
                    font-size: $f-big;
                    font-weight: bold;
                    line-height: 1.26;
                    margin-bottom: 16px;
                }

                .info {
                    color: $bg-dark;
                    opacity: 0.66;
                    font-size: $f-mid;
                    line-height: 1.9;
                }
            }
        }

    }
}