.blog {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;



    @media(min-width: 992px) {
        grid-template-columns: 1fr 6fr 100px;
    }

    .section-scroll {
        background-color: $bg-dark;
    }

    .news-container {
        margin: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media(min-width: 992px) {
            margin: 50px;
            width: 90%;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 100px;
        }

        .single-news {
            margin-bottom: 50px;

            @media(min-width: 992px) {
                margin: 20px;


                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }



            &:hover {
                .image::after {
                    height: 100%;
                    width: 100%;
                }

                .image::before {
                    opacity: 1;
                }
            }

            .image {
                width: 100%;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: url("https://img.icons8.com/cotton/64/000000/plus--v3.png");
                    transform: translate(-50%, -50%);
                    z-index: 1100;
                    opacity: 0;
                    transition: .5s;
                    cursor: pointer;
                }

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 0%;
                    width: 0%;
                    content: "";
                    background-color: $green;
                    opacity: 0.7;
                    transition: .5s;
                    transform: translate(-50%, -50%);


                }

                img {
                    width: 100%;
                }
            }

            .blog-date {
                font-family: "Roboto", sans-serif;
                font-size: $f-little;
                font-weight: 900;
                line-height: 2.5;
                letter-spacing: 1.54;
                color: $bg-green;
            }

            .blog-title {
                font-family: "Lora";
                font-size: $f-26;
                line-height: 1.42;
                letter-spacing: -0.86px;
                color: $bg-dark
            }

        }
    }
}