.section-scroll {
    background-color: $green;
    position: relative;
    display: none;
    height: 100%;

    @media(min-width: 992px) {
        display: block;
    }

    .scroll {
        position: absolute;
        bottom: 50%;
        left: 50%;


        .scroll-txt {
            transform: translate(-40%, -150%) rotate(90deg);
            font-size: $f-small;
            color: $white;
            opacity: 0.34;
        }
    }
}

.row {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;


    @media(min-width:992px) {
        margin-left: 50px;
    }

    .heading {
        font-size: $f-huge;
        line-height: 49px;
        letter-spacing: -1.01px;
        color: $bg-dark;

        .strong {
            color: $bg-green;
            font-weight: bold;
        }
    }
}

.btn {
    padding: 10px 34px;
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $green;
        color: $white;
        border: 2px solid $green;
    }

    &.btn-sec {
        background-color: $green;
        transition: .3s;

        &:hover {
            background-color: transparent;
            color: $green;
        }

    }

}