.section-scroll {
    background-color: $green;
    position: relative;
    display: none;
    height: 100%;

    @media(min-width: 992px) {
        display: block;
    }

    .scroll {
        position: absolute;
        bottom: 200px;
        left: 50%;


        .scroll-txt {
            transform: translate(-50%, -50%) rotate(90deg);
            font-size: $f-small;
            color: $white;
            opacity: 0.34;
        }
    }
}

.row {
    width: 100%;
    margin-left: 20px;

    @media(min-width:992px) {
        margin-left: 50px;
    }

    .heading {
        font-size: $f-huge;
        line-height: 49px;
        letter-spacing: -1.01px;
        color: $bg-dark;

        .strong {
            color: $bg-green;
            font-weight: bold;
        }
    }
}

.btn {
    padding: 10px 34px;
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    border-radius: 5px;

    &.btn-sec {
        background-color: $green;
    }
}