.contact {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;



    .section-scroll {
        background-color: $bg-dark;
    }

    @media(min-width: 992px) {
        grid-template-columns: 1fr 6fr 100px;
    }

    .contact-container {
        // 
        background: linear-gradient(rgba(10, 68, 39, 0.8) rgba(10, 68, 39, 0.6)), url('../img/zespol01.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        color: $white;
        padding: 50px 0px 100px 20px;



        @media(min-width:992px) {
            flex-direction: row;
            align-items: flex-start;
            padding: 120px 80px;
            margin: 100px 0 100px 50px;

        }



        .contact-welcome {
            width: 90%;
            margin-bottom: 20px;

            @media(min-width: 992px) {
                width: 50%;
            }
        }

        .contact-phones {
            width: 100%;

            @media(min-width: 992px) {
                width: 50%;
                padding: 0 20px;
            }

        }



        .welcome,
        .phone {
            font-size: $f-huge;
            font-weight: bold;
            line-height: 1.28;
            letter-spacing: -1.01px;
        }

        .name {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            line-height: 1.44;
            margin-bottom: 20px;
        }

        .email {
            margin-top: 20px;
            margin-bottom: 50px;
            font-size: $f-21;
            letter-spacing: -0.73px;
            font-weight: bold;
            list-style: 1.69;
            color: $white;

            @media(min-width: 992px) {
                margin-top: 50px;
                margin-bottom: 0;
            }
        }



        .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            .icon {
                display: flex;
                margin-bottom: 20px;

                img {
                    margin-right: 20px;
                    width: 30px;
                    height: 30px;
                }

                .info {
                    font-family: "Roboto", sans-serif;
                    font-size: $f-mid;
                    line-height: 1.44;
                    margin-right: 100px;


                }
            }

            .small {
                width: 80%;
            }
        }

    }

}