.wrapper {
    margin: 0 auto;

    .header-welcome {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;

        @media(min-width: 992px) {
            grid-template-columns: 1fr 100px;

        }

        .heading {
            background-image: url('../img/DSC_4685.png');
            height: 80vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(min-width: 992px) {
                background-position: top;
            }

            .title-container {
                padding-top: 50px;
                margin-left: 20px;
                width: 80%;

                @media(min-width: 992px) {
                    margin-left: 50px;
                    width: 40%;
                }

                .heading-title {
                    font-size: $f-huge;
                    color: $white;
                    font-weight: bold;
                    line-height: 1.25;
                    text-shadow: 0 3px 20px rgba(0, 0, 0, 0.29);
                    margin-bottom: 35px;

                    @media(min-width: 992px) {
                        font-size: $f-title;
                    }

                }

                .heading-subtitle {

                    font-size: $f-mid-lg;
                    line-height: 1.38;
                    letter-spacing: 0.22;
                    color: $white;
                    text-shadow: 0 3px 15px rgba(0, 0, 0, 0.38);
                }
            }
        }

        .section-scroll {
            background-color: $green;
            position: relative;
            display: none;

            @media(min-width: 992px) {
                display: block;
            }

            .scroll {
                position: absolute;
                bottom: 50px;
                left: 50%;

                .scroll-txt {
                    transform: translate(-40%, -150%) rotate(90deg);
                    font-size: $f-small;
                    color: $white;
                    opacity: 0.34;
                }
            }
        }

    }
}