.team {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding-top: 50px;




    @media(min-width: 992px) {
        grid-template-columns: 1fr 6fr 100px;
        padding-top: 0;
    }

    .team-heading {
        width: 80%;
    }

    .section-scroll {
        background-color: $bg-dark;
    }

    .seo-container {
        margin-top: 30px;
        margin-left: 20px;
        display: flex;
        width: 80%;
        flex-direction: column;

        @media(min-width: 992px) {
            margin-left: 50px;
            flex-direction: row;
            width: 70%;

        }

        .btn {
            margin-bottom: 30px;
        }

        .intro-con {
            width: 80%;

            .intro {
                margin-bottom: 30px;

                @media(min-width: 992px) {}
            }


        }

        .desc-con {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .persons-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;



        @media(min-width: 992px) {
            margin-left: 50px;
            flex-direction: row;
            width: 80%;
            justify-content: space-between;
        }

        .person {
            margin-bottom: 50px;
            overflow: hidden;
            width: 100%;

            @media(min-width: 992px) {
                // margin-right: 20px;
                width: 30%;
            }

            img {
                width: 100%;
            }

            .name {
                font-size: $f-22;
                font-weight: bold;
                line-height: 1.41;
                letter-spacing: -0.73px;
                color: $bg-dark;
            }

            .work {
                font-family: "Roboto", sans-serif;
                font-size: $f-12;
                font-weight: 900;
                line-height: 2.5;
                letter-spacing: 1.54px;
                color: $green;
                text-transform: uppercase;
            }

            .info {
                font-family: "Roboto", sans-serif;
                font-size: $f-little;
                line-height: 20px;
                letter-spacing: 0.08;
                color: $color1;

            }
        }
    }
}