.team {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding-top: 50px;



    @media(min-width: 992px) {
        grid-template-columns: 1fr 6fr 100px;
        padding-top: 0;
    }

    .section-scroll {
        background-color: $bg-dark;
    }

    .seo-container {
        margin-top: 30px;
        margin-left: 20px;
        display: flex;
        width: 90%;
        flex-direction: column;

        @media(min-width: 992px) {
            margin-left: 50px;
            flex-direction: row;
            width: 70%;

        }

        .btn {
            margin-bottom: 30px;
        }

        .intro-con {

            .intro {
                margin-bottom: 30px;


                @media(min-width: 992px) {}
            }


        }

        .desc-con {
            width: 100%;
        }
    }

    .persons-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;


        @media(min-width: 992px) {
            margin-left: 50px;
            flex-direction: row;
            width: 80%;
            justify-content: space-between;
        }

        .person {
            margin-bottom: 50px;
            overflow: hidden;
            width: 100%;


        }
    }
}