// Colors
$bg-green: #0a4426;
$bg-dark: #2d2e2e;
$darker: #a8a8a8;
$text-light: #fefefe;
$green: #0a4426;
$white: #fff;
$color1: #5d5d5d;

// Sizes
$f-little: 14px;
$f-small: 17px;
$f-mid: 18px;
$f-mid-lg: 24px;
$f-big: 31px;
$f-huge: 36px;
$f-title: 53px;
$f-21: 21px;
$f-12: 12px;
$f-26: 26px;