// Colors
$bg-green: #0a4426;
$bg-dark: #2d2e2e;
$darker: #a8a8a8;
$text-light: #fefefe;
$green: #0a4426;
$white: #fff;

// Sizes
$f-small: 17px;
$f-mid: 18px;
$f-mid-lg: 26px;
$f-big: 31px;
$f-huge: 36px;