/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Lora', serif;
}

.section-scroll {
  background-color: #0a4426;
  position: relative;
  display: none;
  height: 100%;
}

@media (min-width: 992px) {
  .section-scroll {
    display: block;
  }
}

.section-scroll .scroll {
  position: absolute;
  bottom: 200px;
  left: 50%;
}

.section-scroll .scroll .scroll-txt {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  font-size: 17px;
  color: #fff;
  opacity: 0.34;
}

.row {
  width: 100%;
  margin-left: 20px;
}

@media (min-width: 992px) {
  .row {
    margin-left: 50px;
  }
}

.row .heading {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -1.01px;
  color: #2d2e2e;
}

.row .heading .strong {
  color: #0a4426;
  font-weight: bold;
}

.btn {
  padding: 10px 34px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn.btn-sec {
  background-color: #0a4426;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

header .header-wrapper .pretend {
  background-color: #0a4426;
}

@media (min-width: 992px) {
  header .header-wrapper {
    -ms-grid-columns: 1fr 8fr 100px;
        grid-template-columns: 1fr 8fr 100px;
  }
}

header .pretend-trans {
  background-color: #0a4426;
  background-color: transparent;
  display: none;
}

@media (min-width: 992px) {
  header .pretend-trans {
    display: block;
  }
}

header .pretend {
  background-color: #0a4426;
  background-color: transparent;
  display: none;
}

@media (min-width: 992px) {
  header .pretend {
    display: block;
  }
}

header .welcome {
  background-image: url("../img/DSC_4685.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  width: 100%;
}

header .welcome .header-grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  header .welcome .header-grid {
    -ms-grid-columns: 1fr 8fr 100px;
        grid-template-columns: 1fr 8fr 100px;
  }
}

header .welcome .header-grid .title-container {
  margin-top: 200px;
  margin-left: 50px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  header .welcome .header-grid .title-container {
    margin-top: 300px;
    width: 38%;
  }
}

header .welcome .header-grid .title-container .heading-title {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 3px 20px rgba(0, 0, 0, 0.29);
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  header .welcome .header-grid .title-container .heading-title {
    font-size: 53px;
    line-height: 1.25;
  }
}

header .welcome .header-grid .title-container .heading-subtitle {
  font-size: 24px;
  letter-spacing: 0.22;
  color: #fff;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.38);
}

@media (min-width: 992px) {
  header .welcome .header-grid .title-container .heading-subtitle {
    line-height: 1.38;
  }
}

.nav-wrapper {
  background-color: #0a4426;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.nav .nav-brand {
  margin-left: 20px;
  z-index: 1000;
}

.nav .nav-links {
  background-color: #0a4426;
  position: absolute;
  padding: 30px 0;
  top: 120px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: .5s;
  transition: .5s;
}

.nav .nav-links.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 992px) {
  .nav .nav-links {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: auto;
  }
}

.nav .nav-links .nav-item {
  margin: 20px;
}

@media (min-width: 992px) {
  .nav .nav-links .nav-item {
    margin: 0 22px;
  }
}

.nav .nav-links .nav-item .nav-link {
  text-decoration: none;
  color: #fefefe;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: 0.85px;
  position: relative;
}

.nav .nav-links .nav-item .nav-link::after, .nav .nav-links .nav-item .nav-link::before {
  position: absolute;
  top: -40%;
  left: -10%;
  height: 180%;
  width: 120%;
  content: "";
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.13;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .nav-links .nav-item .nav-link::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 0;
  opacity: 1;
}

.nav .nav-links .nav-item .nav-link:hover::before {
  width: 120%;
}

.nav .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  z-index: 1000;
}

@media (min-width: 992px) {
  .nav .nav-button {
    display: none;
  }
}

.nav .nav-button .nav-button-line {
  height: 4px;
  width: 30px;
  background-color: #fefefe;
  margin: 2px;
}

.about {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: 992px) {
  .about {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.about .section-scroll {
  background-color: #2d2e2e;
}

.about .main-content {
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
  background-color: #fff;
}

.about .main-content .intro {
  font-size: 31px;
  line-height: 1.26;
  color: #2d2e2e;
  margin-top: 48.5px;
}

.about .main-content .intro .strong {
  font-weight: bold;
  color: #0a4426;
}

.about .main-content .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  margin-bottom: 128px;
}

@media (min-width: 992px) {
  .about .main-content .slogan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .main-content .slogan .slogan-content {
  width: 100%;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 10px;
}

.about .main-content .slogan .slogan-content:nth-child(1) {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #5d5d5d;
  line-height: 1.29;
}

.about .main-content .about-intro {
  margin: 24px 0 50px 50px;
  width: 70%;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  .about .main-content .about-intro {
    width: 47%;
  }
}

.about .main-content .about-intro .intro-text {
  letter-spacing: 0.13px;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 20px;
}

.about .main-content .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (min-width: 992px) {
  .about .main-content .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.about .main-content .services .service-block {
  background-color: #fff;
  padding: 36px;
  border: 1px solid #0a4426;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .about .main-content .services .service-block {
    width: 40%;
  }
}

.about .main-content .services .service-block .title {
  color: #0a4426;
  font-size: 31px;
  font-weight: bold;
  line-height: 1.26;
  margin-bottom: 16px;
}

.about .main-content .services .service-block .info {
  color: #2d2e2e;
  opacity: 0.66;
  font-size: 18px;
  line-height: 1.9;
}

.advantages {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: 992px) {
  .advantages {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.advantages .section-scroll {
  background-color: #2d2e2e;
}

.advantages .adv-heading {
  margin-left: 20px;
}

@media (min-width: 992px) {
  .advantages .adv-heading {
    margin-left: 50px;
  }
}

.advantages .icons-container {
  margin: 20px;
  width: 100%;
}

@media (min-width: 992px) {
  .advantages .icons-container {
    width: 90%;
    margin: 20px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
}

.advantages .icons-container .icon-cont {
  margin-top: 80px;
  width: 90%;
}

@media (min-width: 992px) {
  .advantages .icons-container .icon-cont {
    margin-top: 80px;
    width: 20%;
  }
}

.advantages .icons-container .icon-cont .icon {
  height: 80px;
}

.advantages .icons-container .icon-cont .icon-title {
  margin-top: 28px;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.24;
  color: #2d2e2e;
  margin-bottom: 16px;
}

.advantages .icons-container .icon-cont .icon-title .strong {
  color: #0a4426;
  font-weight: bold;
}

.advantages .icons-container .icon-cont .icon-desc {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #5d5d5d;
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: 992px) {
  .blog {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.blog .section-scroll {
  background-color: #2d2e2e;
}

.blog .news-container {
  margin: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
}

@media (min-width: 992px) {
  .blog .news-container {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.blog .news-container .single-news {
  margin-bottom: 50px;
}

.blog .news-container .single-news .image {
  width: 100%;
}

.blog .news-container .single-news .image img {
  width: 100%;
}

.blog .news-container .single-news .blog-date {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 2.5;
  letter-spacing: 1.54;
  color: #0a4426;
}

.blog .news-container .single-news .blog-title {
  font-family: "Lora";
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: -0.86px;
  color: #2d2e2e;
}

.seo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  overflow: hidden;
}

@media (min-width: 992px) {
  .seo {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.seo .section-scroll {
  background-color: #2d2e2e;
}

.seo .section-seo {
  background: -webkit-gradient(linear, left top, right top, from(rgba(45, 46, 46, 0.325368)), to(#2d2e2e)), url("../img/seo-bg.png");
  background: linear-gradient(90deg, rgba(45, 46, 46, 0.325368) 0%, #2d2e2e 100%), url("../img/seo-bg.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .seo .section-seo {
    margin-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 100px;
  }
}

.seo .section-seo .img {
  z-index: 1100;
  margin: 50px auto 0;
}

@media (min-width: 992px) {
  .seo .section-seo .img {
    -webkit-transform: translate(-20%);
            transform: translate(-20%);
  }
}

.seo .section-seo .seo-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-left: 20px;
  width: 90%;
}

@media (min-width: 992px) {
  .seo .section-seo .seo-heading {
    width: 60%;
    margin-left: 100px;
    margin-top: 170px;
    margin-left: 50px;
  }
}

.seo .section-seo .seo-heading .title {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -1.01px;
  color: #fff;
}

.seo .section-seo .seo-heading .title .bold {
  font-weight: bold;
}

.seo .section-seo .seo-heading .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .seo .section-seo .seo-heading .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.seo .section-seo .seo-heading .description .left,
.seo .section-seo .seo-heading .description .right {
  width: 90%;
  opacity: 0.86;
  font-size: 14px;
  line-height: 1.43;
  margin-right: 50px;
  margin-bottom: 100px;
  font-weight: 300;
}

@media (min-width: 992px) {
  .seo .section-seo .seo-heading .description .left,
  .seo .section-seo .seo-heading .description .right {
    width: 60%;
    margin-bottom: 100px;
  }
}

.seo .section-seo .seo-heading .description .left button,
.seo .section-seo .seo-heading .description .right button {
  margin: 30px 0;
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  padding-top: 50px;
}

@media (min-width: 992px) {
  .team {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
    padding-top: 0;
  }
}

.team .section-scroll {
  background-color: #2d2e2e;
}

.team .seo-container {
  margin-top: 30px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .team .seo-container {
    margin-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
}

.team .seo-container .btn {
  margin-bottom: 30px;
}

.team .seo-container .intro-con .intro {
  margin-bottom: 30px;
}

.team .seo-container .desc-con {
  width: 100%;
}

.team .persons-container {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

@media (min-width: 992px) {
  .team .persons-container {
    margin-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team .persons-container .person {
  margin-bottom: 50px;
  overflow: hidden;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */