/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Lora', serif;
}

.section-scroll {
  background-color: #0a4426;
  position: relative;
  display: none;
  height: 100%;
}

@media (min-width: 992px) {
  .section-scroll {
    display: block;
  }
}

.section-scroll .scroll {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.section-scroll .scroll .scroll-txt {
  -webkit-transform: translate(-40%, -150%) rotate(90deg);
          transform: translate(-40%, -150%) rotate(90deg);
  font-size: 17px;
  color: #fff;
  opacity: 0.34;
}

.row {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .row {
    margin-left: 50px;
  }
}

.row .heading {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -1.01px;
  color: #2d2e2e;
}

.row .heading .strong {
  color: #0a4426;
  font-weight: bold;
}

.btn {
  padding: 10px 34px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background-color: #0a4426;
  color: #fff;
  border: 2px solid #0a4426;
}

.btn.btn-sec {
  background-color: #0a4426;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn.btn-sec:hover {
  background-color: transparent;
  color: #0a4426;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .section-scroll {
  position: relative;
}

header .section-scroll .scroll {
  cursor: pointer;
  position: absolute;
  bottom: 30%;
}

header .section-scroll .scroll img {
  -webkit-animation: scrollAnim 2s infinite;
          animation: scrollAnim 2s infinite;
}

header .header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

header .header-wrapper .pretend {
  background-color: #0a4426;
}

@media (min-width: 992px) {
  header .header-wrapper {
    -ms-grid-columns: 1fr 8fr 100px;
        grid-template-columns: 1fr 8fr 100px;
  }
}

header .pretend-trans {
  background-color: #0a4426;
  background-color: transparent;
  display: none;
}

@media (min-width: 992px) {
  header .pretend-trans {
    display: block;
  }
}

header .pretend {
  background-color: #0a4426;
  background-color: transparent;
  display: none;
}

@media (min-width: 992px) {
  header .pretend {
    display: block;
  }
}

header .welcome {
  background-image: url("../img/DSC_4685.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 90vh;
  width: 100%;
}

header .welcome .header-grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 992px) {
  header .welcome .header-grid {
    -ms-grid-columns: 1fr 8fr 100px;
        grid-template-columns: 1fr 8fr 100px;
  }
}

header .welcome .header-grid .title-container {
  margin-top: 180px;
  margin-left: 20px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  header .welcome .header-grid .title-container {
    margin-top: 200px;
    width: 38%;
    margin-left: 50px;
  }
}

header .welcome .header-grid .title-container .heading-title {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 3px 20px rgba(0, 0, 0, 0.29);
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  header .welcome .header-grid .title-container .heading-title {
    font-size: 53px;
    line-height: 1.25;
  }
}

header .welcome .header-grid .title-container .heading-subtitle {
  font-size: 24px;
  letter-spacing: 0.22;
  color: #fff;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.38);
}

@media (min-width: 992px) {
  header .welcome .header-grid .title-container .heading-subtitle {
    line-height: 1.38;
  }
}

@-webkit-keyframes scrollAnim {
  0% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  50% {
    -webkit-transform: translateY(20px) scale(1.2);
            transform: translateY(20px) scale(1.2);
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes scrollAnim {
  0% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  50% {
    -webkit-transform: translateY(20px) scale(1.2);
            transform: translateY(20px) scale(1.2);
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

.nav-wrapper {
  background-color: #0a4426;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}

.nav .nav-brand {
  margin-left: 20px;
  z-index: 1000;
}

.nav .nav-links {
  background-color: #0a4426;
  position: fixed;
  padding: 30px 0;
  top: 120px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1000;
}

.nav .nav-links.top {
  top: 0;
}

.nav .nav-links.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 992px) {
  .nav .nav-links {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: auto;
  }
}

.nav .nav-links .nav-item {
  margin: 20px;
}

@media (min-width: 992px) {
  .nav .nav-links .nav-item {
    margin: 0 22px;
  }
}

.nav .nav-links .nav-item .nav-link {
  text-decoration: none;
  color: #fefefe;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: 0.85px;
  position: relative;
}

.nav .nav-links .nav-item .nav-link::after, .nav .nav-links .nav-item .nav-link::before {
  position: absolute;
  top: -40%;
  left: -10%;
  height: 180%;
  width: 120%;
  content: "";
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.13;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .nav-links .nav-item .nav-link::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 0;
  opacity: 1;
}

.nav .nav-links .nav-item .nav-link:hover::before {
  width: 120%;
}

.nav .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  z-index: 1000;
}

.nav .nav-button.fixed {
  position: fixed;
  top: 20px;
  right: 5px;
}

.nav .nav-button.fixed .nav-button-line {
  background-color: black;
}

@media (min-width: 992px) {
  .nav .nav-button {
    display: none;
  }
}

.nav .nav-button .nav-button-line {
  height: 4px;
  width: 30px;
  background-color: #fefefe;
  margin: 2px;
}

.about {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: 992px) {
  .about {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.about .section-scroll {
  background-color: #2d2e2e;
}

.about .main-content {
  background-color: #fff;
}

@media (min-width: 992px) {
  .about .main-content {
    -webkit-transform: translateY(-140px);
            transform: translateY(-140px);
  }
}

.about .main-content .intro {
  font-size: 31px;
  line-height: 1.26;
  color: #2d2e2e;
  margin-top: 48.5px;
}

.about .main-content .intro .strong {
  font-weight: bold;
  color: #0a4426;
}

.about .main-content .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .about .main-content .slogan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 80px;
  }
}

.about .main-content .slogan .slogan-content {
  width: 100%;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 10px;
}

.about .main-content .slogan .slogan-content:nth-child(1) {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #5d5d5d;
  line-height: 1.29;
}

@media (min-width: 992px) {
  .about .main-content .slogan .slogan-content:nth-child(1) {
    margin-left: 30px;
  }
}

.about .main-content .about-intro {
  margin: 24px 0 50px 20px;
  width: 90%;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  .about .main-content .about-intro {
    width: 47%;
    width: 60%;
    margin-left: 50px;
  }
}

.about .main-content .about-intro .intro-text {
  letter-spacing: 0.13px;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 20px;
}

.about .main-content .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .about .main-content .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    margin-bottom: 0;
  }
}

.about .main-content .services .service-block {
  background-color: #fff;
  padding: 36px;
  border: 1px solid #0a4426;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

@media (min-width: 992px) {
  .about .main-content .services .service-block {
    width: 40%;
  }
}

.about .main-content .services .service-block .service-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.about .main-content .services .service-block:hover {
  background-color: #0a4426;
}

.about .main-content .services .service-block:hover .title,
.about .main-content .services .service-block:hover .info {
  color: #fff;
}

.about .main-content .services .service-block:hover .service-img {
  opacity: .1;
}

.about .main-content .services .service-block .title {
  color: #0a4426;
  font-size: 31px;
  font-weight: bold;
  line-height: 1.26;
  margin-bottom: 16px;
}

.about .main-content .services .service-block .info {
  color: #2d2e2e;
  opacity: 0.66;
  font-size: 18px;
  line-height: 1.9;
}

.advantages {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: 992px) {
  .advantages {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.advantages .section-scroll {
  background-color: #2d2e2e;
}

@media (min-width: 992px) {
  .advantages .adv-heading {
    margin-left: 50px;
  }
}

.advantages .icons-container {
  margin-left: 20px;
  width: 90%;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .advantages .icons-container {
    width: 90%;
    margin: 20px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 200px;
  }
}

.advantages .icons-container .icon-cont {
  margin-top: 80px;
  width: 90%;
}

@media (min-width: 992px) {
  .advantages .icons-container .icon-cont {
    margin-top: 80px;
    width: 20%;
  }
}

.advantages .icons-container .icon-cont .icon {
  height: 80px;
}

.advantages .icons-container .icon-cont .icon-title {
  margin-top: 28px;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.24;
  color: #2d2e2e;
  margin-bottom: 16px;
}

.advantages .icons-container .icon-cont .icon-title .strong {
  color: #0a4426;
  font-weight: bold;
}

.advantages .icons-container .icon-cont .icon-desc {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #5d5d5d;
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: 992px) {
  .blog {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.blog .section-scroll {
  background-color: #2d2e2e;
}

.blog .news-container {
  margin: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .blog .news-container {
    margin: 50px;
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
}

.blog .news-container .single-news {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .blog .news-container .single-news {
    margin: 20px;
  }
  .blog .news-container .single-news:first-child {
    margin-left: 0;
  }
  .blog .news-container .single-news:last-child {
    margin-right: 0;
  }
}

.blog .news-container .single-news:hover .image::after {
  height: 100%;
  width: 100%;
}

.blog .news-container .single-news:hover .image::before {
  opacity: 1;
}

.blog .news-container .single-news .image {
  width: 100%;
  position: relative;
}

.blog .news-container .single-news .image::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: url("https://img.icons8.com/cotton/64/000000/plus--v3.png");
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1100;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.blog .news-container .single-news .image::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0%;
  width: 0%;
  content: "";
  background-color: #0a4426;
  opacity: 0.7;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog .news-container .single-news .image img {
  width: 100%;
}

.blog .news-container .single-news .blog-date {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 2.5;
  letter-spacing: 1.54;
  color: #0a4426;
}

.blog .news-container .single-news .blog-title {
  font-family: "Lora";
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: -0.86px;
  color: #2d2e2e;
}

.seo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  overflow: hidden;
}

@media (min-width: 992px) {
  .seo {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.seo .section-scroll {
  background-color: #2d2e2e;
}

.seo .section-seo {
  background: -webkit-gradient(linear, left top, right top, from(rgba(45, 46, 46, 0.325368)), to(#2d2e2e)), url("../img/seo-bg.png");
  background: linear-gradient(90deg, rgba(45, 46, 46, 0.325368) 0%, #2d2e2e 100%), url("../img/seo-bg.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .seo .section-seo {
    margin-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 100px;
  }
}

.seo .section-seo .img {
  margin: 20px auto;
}

@media (min-width: 992px) {
  .seo .section-seo .img {
    -webkit-transform: translate(-200px, 10%);
            transform: translate(-200px, 10%);
  }
}

.seo .section-seo .seo-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  margin-left: 20px;
  width: 90%;
}

@media (min-width: 992px) {
  .seo .section-seo .seo-heading {
    width: 60%;
    margin-top: 170px;
    margin-left: 50px;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.seo .section-seo .seo-heading .title {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -1.01px;
  color: #fff;
}

.seo .section-seo .seo-heading .title .bold {
  font-weight: bold;
}

.seo .section-seo .seo-heading .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .seo .section-seo .seo-heading .description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.seo .section-seo .seo-heading .description .left,
.seo .section-seo .seo-heading .description .right {
  width: 90%;
  opacity: 0.86;
  font-size: 14px;
  line-height: 1.43;
  margin-right: 50px;
  margin-bottom: 50px;
  font-weight: 300;
}

@media (min-width: 992px) {
  .seo .section-seo .seo-heading .description .left,
  .seo .section-seo .seo-heading .description .right {
    width: 60%;
    margin-bottom: 100px;
  }
}

.seo .section-seo .seo-heading .description .left .seo-text,
.seo .section-seo .seo-heading .description .right .seo-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08px;
  color: #fff;
}

.seo .section-seo .seo-heading .description .left button,
.seo .section-seo .seo-heading .description .right button {
  margin: 30px 0;
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  padding-top: 50px;
}

@media (min-width: 992px) {
  .team {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
    padding-top: 0;
  }
}

.team .team-heading {
  width: 80%;
}

.team .section-scroll {
  background-color: #2d2e2e;
}

.team .seo-container {
  margin-top: 30px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .team .seo-container {
    margin-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
}

.team .seo-container .btn {
  margin-bottom: 30px;
}

.team .seo-container .intro-con {
  width: 80%;
}

.team .seo-container .intro-con .intro {
  margin-bottom: 30px;
}

.team .seo-container .desc-con {
  width: 100%;
  margin-bottom: 50px;
}

.team .persons-container {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

@media (min-width: 992px) {
  .team .persons-container {
    margin-left: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team .persons-container .person {
  margin-bottom: 50px;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 992px) {
  .team .persons-container .person {
    width: 30%;
  }
}

.team .persons-container .person img {
  width: 100%;
}

.team .persons-container .person .name {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.41;
  letter-spacing: -0.73px;
  color: #2d2e2e;
}

.team .persons-container .person .work {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 900;
  line-height: 2.5;
  letter-spacing: 1.54px;
  color: #0a4426;
  text-transform: uppercase;
}

.team .persons-container .person .info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08;
  color: #5d5d5d;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

.contact .section-scroll {
  background-color: #2d2e2e;
}

@media (min-width: 992px) {
  .contact {
    -ms-grid-columns: 1fr 6fr 100px;
        grid-template-columns: 1fr 6fr 100px;
  }
}

.contact .contact-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 68, 39, 0.8))), url("../img/zespol01.png");
  background: linear-gradient(rgba(10, 68, 39, 0.8) rgba(10, 68, 39, 0.6)), url("../img/zespol01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  padding: 50px 0px 100px 20px;
}

@media (min-width: 992px) {
  .contact .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 120px 80px;
    margin: 100px 0 100px 50px;
  }
}

.contact .contact-container .contact-welcome {
  width: 90%;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .contact .contact-container .contact-welcome {
    width: 50%;
  }
}

.contact .contact-container .contact-phones {
  width: 100%;
}

@media (min-width: 992px) {
  .contact .contact-container .contact-phones {
    width: 50%;
    padding: 0 20px;
  }
}

.contact .contact-container .welcome,
.contact .contact-container .phone {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: -1.01px;
}

.contact .contact-container .name {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.44;
  margin-bottom: 20px;
}

.contact .contact-container .email {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 21px;
  letter-spacing: -0.73px;
  font-weight: bold;
  list-style: 1.69;
  color: #fff;
}

@media (min-width: 992px) {
  .contact .contact-container .email {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.contact .contact-container .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .contact-container .contact-info .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contact .contact-container .contact-info .icon img {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.contact .contact-container .contact-info .icon .info {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  margin-right: 100px;
}

.contact .contact-container .contact-info .small {
  width: 80%;
}

footer .footer-info {
  background: -webkit-gradient(linear, left top, right top, from(rgba(45, 46, 46, 0.8)), color-stop(82%, #2d2e2e), to(#2d2e2e)), url("../img/footer-bg.png");
  background: linear-gradient(90deg, rgba(45, 46, 46, 0.8) 0%, #2d2e2e 82%, #2d2e2e 100%), url("../img/footer-bg.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  background-color: pink;
}

@media (min-width: 992px) {
  footer .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .footer-info .team,
footer .footer-info .companies,
footer .footer-info .forYou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

footer .footer-info .f-title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  line-height: 1.92;
  letter-spacing: 0.62;
  color: #a8a8a8;
  font-size: 12px;
  cursor: pointer;
}

footer .footer-info .option {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 1.86;
  cursor: pointer;
}

footer .footer-info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

footer .footer-info .socials .social-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-info .socials .social-icon-container .social-img {
  margin: 10px;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-info .socials .social-icon-container .social-img:hover::after {
  opacity: .7;
  background-color: #0a4426;
}

footer .footer-info .socials .social-icon-container .social-img::after {
  position: absolute;
  top: -30%;
  left: -30%;
  height: 160%;
  width: 160%;
  content: "";
  background-color: #fff;
  opacity: 0.18;
  z-index: -1;
  border-radius: 50%;
}

footer .copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: #efefef;
  font-size: 12px;
}

@media (min-width: 992px) {
  footer .copyrights {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .copyrights .rights {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 20px;
  text-align: center;
}

footer .copyrights .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  footer .copyrights .project {
    margin-bottom: 0;
  }
}

footer .copyrights .project img {
  margin-left: 10px;
}

footer .copyrights .code {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  footer .copyrights .code {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=styles.css.map */