/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Lora', serif;
}

.wrapper {
  margin: 0 auto;
}

.wrapper .header-welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .wrapper .header-welcome {
    -ms-grid-columns: 1fr 100px;
        grid-template-columns: 1fr 100px;
  }
}

.wrapper .header-welcome .heading {
  background-image: url("../img/DSC_4685.png");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .wrapper .header-welcome .heading {
    background-position: top;
  }
}

.wrapper .header-welcome .heading .title-container {
  padding-top: 50px;
  margin-left: 20px;
  width: 80%;
}

@media (min-width: 992px) {
  .wrapper .header-welcome .heading .title-container {
    margin-left: 50px;
    width: 40%;
  }
}

.wrapper .header-welcome .heading .title-container .heading-title {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  line-height: 1.25;
  text-shadow: 0 3px 20px rgba(0, 0, 0, 0.29);
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .wrapper .header-welcome .heading .title-container .heading-title {
    font-size: 53px;
  }
}

.wrapper .header-welcome .heading .title-container .heading-subtitle {
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.22;
  color: #fff;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.38);
}

.wrapper .header-welcome .section-scroll {
  background-color: #0a4426;
  position: relative;
  display: none;
}

@media (min-width: 992px) {
  .wrapper .header-welcome .section-scroll {
    display: block;
  }
}

.wrapper .header-welcome .section-scroll .scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.wrapper .header-welcome .section-scroll .scroll .scroll-txt {
  -webkit-transform: translate(-40%, -150%) rotate(90deg);
          transform: translate(-40%, -150%) rotate(90deg);
  font-size: 17px;
  color: #fff;
  opacity: 0.34;
}

.nav-wrapper {
  background-color: #0a4426;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.nav .nav-brand {
  margin-left: 20px;
  z-index: 1000;
}

@media (min-width: 992px) {
  .nav .nav-brand {
    margin-left: 100px;
  }
}

.nav .nav-links {
  background-color: #0a4426;
  position: absolute;
  padding: 30px 0;
  top: 120px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: .5s;
  transition: .5s;
}

.nav .nav-links.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 992px) {
  .nav .nav-links {
    margin-right: 100px;
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: auto;
  }
}

.nav .nav-links .nav-item {
  margin: 20px;
}

@media (min-width: 992px) {
  .nav .nav-links .nav-item {
    margin: 0 22px;
  }
}

.nav .nav-links .nav-item .nav-link {
  text-decoration: none;
  color: #fefefe;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: 0.85px;
  position: relative;
}

.nav .nav-links .nav-item .nav-link::after, .nav .nav-links .nav-item .nav-link::before {
  position: absolute;
  top: -40%;
  left: -10%;
  height: 180%;
  width: 120%;
  content: "";
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.13;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .nav-links .nav-item .nav-link::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 0;
  opacity: 1;
}

.nav .nav-links .nav-item .nav-link:hover::before {
  width: 120%;
}

.nav .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  z-index: 1000;
}

@media (min-width: 992px) {
  .nav .nav-button {
    display: none;
  }
}

.nav .nav-button .nav-button-line {
  height: 4px;
  width: 30px;
  background-color: #fefefe;
  margin: 2px;
}
/*# sourceMappingURL=styles.css.map */